body {
    width: 100%;
    background-image: url(../img/page-bg-7.jpg);
}

/*START menu CSS*/

.menu {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1024px;
    height: 230px;
}
.logo {
    width: 138px;
    height: 138px;
    text-align: center;
    line-height: 138px;
    background-color: #fff;
    border-radius: 50%;
} 
.logo > a {
    text-decoration: none;
    font-size: 60px;
    font-family: "Dorsa", sans-serif;
    color: #263555;
    text-transform: uppercase;
}
.menu_item > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 28px;
    font-family: "Pathway Gothic One", sans-serif;
    text-transform: uppercase; 
    color: #fff;
}
.submenu {
    display: none;   /* делаем невидимым .submenu */
    position: absolute; /* при появлении .submenu окажется поверх других элементов */
    top: 135px;
    width: 66px;
    height: 88px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    font-family: "Pathway Gothic One", sans-serif;
    text-transform: uppercase; 
    background-color: #fff;

}
.submenu::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 28px;
    border-width:0 5px 5px 5px;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}
.submenu_item > a {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;   
    color: #6b7488;
}
.menu_item>a:hover {
    color: #263555;
}
.menu_item:hover > .submenu { /* делаем .submenu видимым */
    display: block;
}

/*END menu CSS*/
/*START main CSS*/
    
h2 {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: normal;
    color: #263555;
    text-align: left;
}

h5 {
	font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: #38afe5;
    text-align: left;

}
p {
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: #4e5050;
    text-align: justify;
	margin-top: 17px;
}
.bold-text {
	margin: 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: #263555;
}

small {
	font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: #868f8f;
}

main {
    display: flex;
    flex-direction: row;
    width: 1024px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #f9fcfe;
}
.tours {
    display: flex;
    flex-direction: column;
	width: 586px;
    margin: 100px 0 50px 60px;
}
.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 40px 0 0 0;
}
.img-box {
	display: flex;
	flex-direction: row;
	width: 280px;
	margin: 0 0 32px 0;
}
.img-box>img {
	width: 133px;
	height: 114px;
}

.text-box {
	display: flex;
    flex-direction: column;
	margin: 0 0 0 20px;
}
.price{
	margin: 0;
	font-size: 13px;
	text-transform: uppercase;
    line-height: 15px;
    color: #38afe5;
    text-align: left;
}
.details {
	margin: 30px 0 0 0;
 	align-self: flex-start;
    width: 63px;
    height: 22px;
	text-align: center;
    border-radius: 6px;
	border: 1px solid #b2abab;
    background-color: #fbf6f8;
}
.details > a {
	font-size: 13px;

    line-height: 23px;
	text-decoration: none;
	color: black;
}
aside {
	margin: 100px 0 0 110px;
    display: flex;
    flex-direction: column;
	width: 212px
}
.form-box {
    display: flex;
	flex-direction: column;
	margin-bottom: 17px;
}
form {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}
label {

	font-size: 10px;
    line-height: 15px;
    color: #4e5050;
}
select {
	margin-top: 8px;
	padding-left: 5px;
	font-size: 10px;
	width: 212px;
	height: 20px;
    color: #4e5050;
	background-color: #fcfafa;
}
#destination, 
#departing,
#price {
	margin-bottom: 20px;
}
textarea {
	margin-top: 2px;
	padding-left: 5px;
	height: 40px;
    font-size: 10px;
    line-height: 15px;
	background-color: #e3e2e2;	
}
textarea::placeholder {
	color: #fff;
}
.search-button {
	margin: 17px 0 0 0;
 	align-self: flex-start;
	font-size: 13px;
    text-align: center;
    line-height: 20px;
    width: 63px;
    height: 22px;
    border-radius: 6px;
	border: 1px solid #b2abab;
    background-color: #fbf6f8;
}


/*START bottom + footer + social networks links CSS*/

.bottom {
    width: 1026px;
    height: 135px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #30455b;
}
.link {
    width: 120px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #fff;
    
}
.link_item > a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
footer {
    display: flex;
    flex-direction: column;
}
.social_networks {
    width: 200px;
    height: 50px;
    margin: 26px auto;
    display: flex;
}
.nav {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.nav_item>a {
  display: inline-block;
  height: 40px;
  width: 40px;
}
.nav_item:nth-of-type(1) >a {
  background-image: url(../img/css_sprites.png);
  background-repeat: no-repeat;
  background-position: -10px -10px;
  filter: opacity(.7);
}
.nav_item:nth-of-type(2)>a {
  background-image: url(../img/css_sprites.png);
  background-repeat: no-repeat;
  background-position: -70px -10px;
  filter: opacity(.7);
}
.nav_item:nth-of-type(3)>a {
  background-image: url(../img/css_sprites.png);
  background-repeat: no-repeat;
  background-position: -130px -10px;
  filter: opacity(.7);
}
.nav_item:nth-of-type(4)>a {
  background-image: url(../img/css_sprites.png);
  background-repeat: no-repeat;
  background-position: -190px -10px;
  filter: opacity(.7);
}
.nav_item>a:hover {
  filter: opacity(1);
}
.privacy {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;
	margin-bottom: 20px;
}
.to-top {
    position: fixed;
    bottom: 30px;
    left: 1427px;
    width: 30px;
    height: 30px;
}