
@font-face {
    font-family: 'pathway_gothic_oneregular';
    src: url('../fonts/pathwaygothicone-regular-webfont.eot');
    src: url('../fonts/pathwaygothicone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pathwaygothicone-regular-webfont.woff2') format('woff2'),
         url('../fonts/pathwaygothicone-regular-webfont.woff') format('woff'),
         url('../fonts/pathwaygothicone-regular-webfont.ttf') format('truetype'),
         url('../fonts/pathwaygothicone-regular-webfont.svg#pathway_gothic_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    width: 480px;
    margin: 0 auto;
    border: 1px solid #D3D3D3;
    box-shadow: 0 0 10px #A9A9A9;
    border-radius: 5px;
    
}

h2 {
    font-family: 'pathway_gothic_oneregular', Arial, sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #263555;
    text-align: left;
}

p {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #4e5050;
    text-align: left;
}

.bold-text {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    color: #263555;
}

span {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #263555;
    text-align: left;
}


li {
    list-style-type: none;
}

.profile {
    width: 406px;
    margin-top: 59px;
    margin: 37px;
}

img {
    display: block;
    width: 406px;
    margin-top: 32px;
}

.principles {
    width: 403px;
    margin-top: 50px;
    margin-left: 37px;	
}

.point {
    margin-left: 35px;
}

.offer {
    width: 404px;
    margin-top: 92px;
    margin-left: 37px;	
}

.spisok {
    width: 404px
    margin-top: 37px;	
}

.spisok1 {
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
    line-height: 25px;

}

.spisok2 {
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
}
